/*@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);*/

@font-face{
    font-family:"FZLanTingHeiS-UL-GB";
    src: url("FZLanTingHeiS-UL-GB.ttf");
}

html,h1,h2,h3,h4,h5{
    font-family: "FZLanTingHeiS-UL-GB", sans-serif;
    font-weight: 100;
}

html {
    height: 100%;
    background-color: black;
}
body {

    margin: 0;
    padding: 0;
    display: block !important;
    height: 100%;
    
    overflow:hidden;
}

a{
    color:white;
}

#slides-progress {
    position: absolute;
    bottom: 60px;
    left: 0px;
    right: 0px;
    height: 2px;
}

#slides-progress-inner {
    height: 100%;
    width: 0%;
    background-color: #D66767;

    border-radius: 10px;

    -webkit-transition:width 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    -moz-transition:width 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    transition:width 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}

#slide-info{
    background-color: black;
    position: fixed;
    bottom:0px;
    left:0px;
    right:0px;
    height: 60px;
    line-height: 60px;
    color: white;
}

#slide-info #title{
    font-size: 20px;
    margin: 0px;
    float: left;

    margin-left: 100px
}

#slide-info .aboutme{
    float:right;
    margin:0px;

    margin-right: 100px;
}
#slide-info .aboutme li{
    float:left;
    list-style: none;
    margin: 0px 10px;
}
#articles {
    position: relative;
    height:100%;

    display: none;
}

#articles article {
    
    background-color:#06b3db;
    padding:20px;
    position:absolute;
    font-size: 20px;
    background-repeat:no-repeat;
    -webkit-transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    color: white;

    width:100%;
    height: 100%;
    box-sizing:border-box;
}

#articles article.current{
    -webkit-transition-delay:0.4s;
    -moz-transition-delay:0.4s;
    transition-delay:0.4s;
}

#articles article.next{
    -webkit-transform:translate(1000px, 0px);
    -moz-transform:translate(1000px, 0px);
    transform:translate(1000px, 0px);
    opacity: 0;
}

#articles article.prev{
    -webkit-transform:scale(0.5);
    -moz-transform:scale(0.5);
    transform:scale(0.5);
    opacity: 0;
}


article h1{
    font-size: 50px;
    text-align: center;
}

article h1.title{
    font-size: 80px;
}

article h3{
    font-size: 30px;
}

li,
.item{
    -webkit-transition:all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    -moz-transition:all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    transition:all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}

.show{
    opacity : 1;
}

.hidden{
    opacity : 0;
    -webkit-transform:translate(30px, 0px);
    -moz-transform:translate(30px, 0px);
    transform:translate(30px, 0px);
}

article li.action{
    display: none;
}

article li{
    min-height: 40px;
}

img{
    max-width: 700px;
}

pre{
    padding: 20px;
    border-radius: 5px;
    font-size: 14px;
    margin:50px;
}
