body {
    background-image: url(../img/bg2.png);
    background-size: 100% 100%;
}

#articles article {
    background-color: rgba(30, 54, 78, 0.64);
}

#slide-info {
    box-shadow: 0px 0px 40px #000;
}

article h1.title {
    font-size: 45px;
}

article h1 {
    margin-top: 200px;
    background-color: rgba(52, 52, 79, 0.7);
    margin-left: -20px;
    margin-right: -20px;
    font-size: 30px;
    box-shadow: 0px 6px 10px rgba(26, 26, 26, 0.38);

    padding-top: 20px;
    padding-bottom: 20px;
    text-shadow: rgb(29, 29, 43) 1px 1px,
                rgb(30, 30, 44) 2px 2px,
                rgb(31, 31, 46) 3px 3px,
                rgb(32, 32, 48) 4px 4px,
                rgb(33, 33, 49) 5px 5px,
                rgb(34, 34, 51) 6px 6px,
                rgb(35, 35, 53) 7px 7px,
                rgb(36, 36, 55) 8px 8px,
                rgb(37, 37, 56) 9px 9px,
                rgb(38, 38, 58) 10px 10px,
                rgb(39, 39, 60) 11px 11px,
                rgb(41, 41, 61) 12px 12px,
                rgb(42, 42, 63) 13px 13px,
                rgb(43, 43, 65) 14px 14px,
                rgb(44, 44, 67) 15px 15px,
                rgb(45, 45, 68) 16px 16px,
                rgb(46, 46, 70) 17px 17px,
                rgb(47, 47, 72) 18px 18px,
                rgb(48, 48, 73) 19px 19px,
                rgb(49, 49, 75) 20px 20px,
                rgb(50, 50, 77) 21px 21px,
                rgb(52, 52, 79) 22px 22px;
}

article h2 {
    text-align: center;
    text-shadow: 0px 2px 2px black;
}

.label {
    padding: 5px 20px;
    border-radius: 8px;
    margin:10px;
    display: inline-block;
}

li {
    list-style: none;
}

#bg-particles {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.schedule-list {
    width: 300px;
    margin: 0px auto;
}

.schedule-list li {
    list-style: none;
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 4px;
    margin: 20px;
    line-height: 40px;
    text-align: center;

    cursor: pointer;
}

.schedule-list li:hover {
    background: #013333;
}

.schedule-list.small li {
    padding: 5px 15px;
    border: 1px solid white;
    border-radius: 4px;
    margin: 20px;
    line-height: 40px;
    height: 30px;
}

#about-me .avatar {
    border-radius: 100px;
    width: 120px;
    height: 120px;
    margin: 50px;
    margin-top: 100px;
}

#about-me .avatar.prev {
    -webkit-transform:translate(0px, -50px);
    -moz-transform:translate(0px, -50px);
    transform:translate(0px, -50px);
}

.border-radius-code {
    font-size:40px;
    width:500px;
    display:inline;
    border-radius: 0px;

    border: 1px solid white;
}

.border-radius-code.prev {
    border-radius: 20px;
}

.border-radius-image {
    width: 500px;
}

.border-radius-image.prev {
    border-radius: 1000px;
}

.box-shadow-code.prev {
    box-shadow: 5px 5px 5px black;;
}

.transform-code.prev {
    transform: perspective(2000px) rotateY(-30deg);
    transform-origin: 50% 50%;
}
.blur-code.prev {
    -webkit-filter: blur(5px);
}
.gradient-code.prev {
    background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
}

.css3-iphone {
  padding:0;
  margin:0;
  min-height:600px;
  font-size: 100%;
  font-family:Arial, Helvetica, sans-serif;
}

h1.svg.prev {
    -webkit-transform:translate(0px, -50px);
    -moz-transform:translate(0px, -50px);
    transform:translate(0px, -50px);
}

h1.canvas {
    margin-top: 80px;
}

article.dv {
}
/* iPhone 5 */
.css3-iphone b{
    display:block;
    position: relative;
    margin:20px auto;
    padding:0;
    width:335px;
    height:700px;
    border-radius:60px;
    border-top:#333 5px solid;
    border-right:#474747 5px solid;
    border-left:#333 5px solid;
    border-bottom:#333 5px solid;
    background-color:#000;
    background-image:
        -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.8) 100%),
        -webkit-linear-gradient(200deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.4) 35%, rgba(0,0,0,0) 35%, rgba(0,0,0,0) 100%),
        -webkit-linear-gradient(left, rgba(0,0,0,1) 5%, rgba(0,0,0,0) 5%, rgba(0,0,0,0) 95%, rgba(0,0,0,1) 95%),
        -webkit-linear-gradient(top, rgba(0,0,0,1) 13%, #264863 5%, #6b8ba7 50%, #082a43 85%, rgba(0,0,0,1) 85%);       
    background-image:
        -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.8) 100%),
        -moz-linear-gradient(200deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.4) 35%, rgba(0,0,0,0) 35%, rgba(0,0,0,0) 100%),
        -moz-linear-gradient(left, rgba(0,0,0,1) 5%, rgba(0,0,0,0) 5%, rgba(0,0,0,0) 95%, rgba(0,0,0,1) 95%),
        -moz-linear-gradient(top, rgba(0,0,0,1) 13%, #264863 5%, #6b8ba7 50%, #082a43 85%, rgba(0,0,0,1) 85%);
    background-image:
        linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.8) 100%),
        linear-gradient(200deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.4) 35%, rgba(0,0,0,0) 35%, rgba(0,0,0,0) 100%),
        linear-gradient(left, rgba(0,0,0,1) 5%, rgba(0,0,0,0) 5%, rgba(0,0,0,0) 95%, rgba(0,0,0,1) 95%),
        linear-gradient(top, rgba(0,0,0,1) 13%, #264863 5%, #6b8ba7 50%, #082a43 85%, rgba(0,0,0,1) 85%);   
        
    box-shadow:#666 0px 20px 50px;
}

.css3-iphone b:before{
    content:"";
    display: block;
    position: absolute;
    top:50px;
    left:50%;
    margin-left:-32.5px;
    width:65px;
    height:8px;
    background:#333;
    border-radius:10px;
    border-top: #000 4px solid;
    border-bottom:#212121 4px solid;
    border-left:#000 4px solid;
    border-right:#333 4px solid;
    box-shadow: inset #000 0px 0px 7px;
}

.css3-iphone b:after{
    content: "";
    color:red;
    font-size: 80px;
    text-align: center;
    display: block;
    position: absolute;
    bottom:15px;
    margin:0 0 0 130px;
    width:75px;
    height:75px;
    border-radius:100%;
    background-image:
        -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 52%, rgba(255,255,255,0.12) 52%, rgba(255,255,255,0.3) 100%),
        -webkit-radial-gradient(26px 27px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -webkit-radial-gradient(27px 26px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),       
        -webkit-radial-gradient(28px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -webkit-radial-gradient(29px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -webkit-radial-gradient(30px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),       
        -webkit-radial-gradient(31px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -webkit-radial-gradient(32px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -webkit-radial-gradient(33px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),       
        -webkit-radial-gradient(34px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -webkit-radial-gradient(35px 25px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),       
        -webkit-radial-gradient(36px 25px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),
        -webkit-radial-gradient(37px 25px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),       
        -webkit-radial-gradient(38px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        -webkit-radial-gradient(39px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),     
        -webkit-radial-gradient(40px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        -webkit-radial-gradient(41px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),       
        -webkit-radial-gradient(42px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -webkit-radial-gradient(43px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),       
        -webkit-radial-gradient(44px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -webkit-radial-gradient(45px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),       
        -webkit-radial-gradient(46px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -webkit-radial-gradient(47px 26px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -webkit-radial-gradient(48px 27px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -webkit-radial-gradient(48px 28px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -webkit-radial-gradient(48px 29px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),               
        -webkit-radial-gradient(48px 30px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -webkit-radial-gradient(48px 31px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),       
        -webkit-radial-gradient(48px 32px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -webkit-radial-gradient(48px 33px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        -webkit-radial-gradient(48px 34px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),               
        -webkit-radial-gradient(48px 35px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),
        -webkit-radial-gradient(48px 36px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),
        -webkit-radial-gradient(48px 37px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),     
        -webkit-radial-gradient(48px 38px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        -webkit-radial-gradient(48px 39px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),     
        -webkit-radial-gradient(48px 40px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        -webkit-radial-gradient(48px 41px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        -webkit-radial-gradient(48px 42px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),             
        -webkit-radial-gradient(48px 43px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 1px),
        -webkit-radial-gradient(48px 44px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 1px),
        -webkit-radial-gradient(48px 45px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),               
        -webkit-radial-gradient(48px 46px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -webkit-radial-gradient(47px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -webkit-radial-gradient(46px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -webkit-radial-gradient(45px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),       
        -webkit-radial-gradient(44px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -webkit-radial-gradient(43px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        -webkit-radial-gradient(42px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),     
        -webkit-radial-gradient(41px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        -webkit-radial-gradient(40px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),     
        -webkit-radial-gradient(39px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        -webkit-radial-gradient(38px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),     
        -webkit-radial-gradient(37px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        -webkit-radial-gradient(36px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),     
        -webkit-radial-gradient(35px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        -webkit-radial-gradient(34px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),     
        -webkit-radial-gradient(33px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        -webkit-radial-gradient(32px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        -webkit-radial-gradient(31px 47px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),       
        -webkit-radial-gradient(30px 47px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),
        -webkit-radial-gradient(29px 47px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),
        -webkit-radial-gradient(28px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),       
        -webkit-radial-gradient(27px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -webkit-radial-gradient(26px 46px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -webkit-radial-gradient(26px 45px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),       
        -webkit-radial-gradient(26px 44px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -webkit-radial-gradient(26px 43px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),   
        -webkit-radial-gradient(26px 42px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),           
        -webkit-radial-gradient(26px 41px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -webkit-radial-gradient(26px 40px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        -webkit-radial-gradient(26px 39px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),             
        -webkit-radial-gradient(26px 38px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        -webkit-radial-gradient(26px 37px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),
        -webkit-radial-gradient(26px 36px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),               
        -webkit-radial-gradient(26px 35px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),
        -webkit-radial-gradient(26px 34px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),
        -webkit-radial-gradient(26px 33px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),               
        -webkit-radial-gradient(26px 32px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),
        -webkit-radial-gradient(26px 31px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),
        -webkit-radial-gradient(26px 30px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),             
        -webkit-radial-gradient(26px 29px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        -webkit-radial-gradient(26px 28px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%)              
        ;
    background-image:
        -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 52%, rgba(255,255,255,0.12) 52%, rgba(255,255,255,0.3) 100%),
        -moz-radial-gradient(26px 27px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -moz-radial-gradient(27px 26px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),      
        -moz-radial-gradient(28px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -moz-radial-gradient(29px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -moz-radial-gradient(30px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),      
        -moz-radial-gradient(31px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -moz-radial-gradient(32px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -moz-radial-gradient(33px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),      
        -moz-radial-gradient(34px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -moz-radial-gradient(35px 25px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),      
        -moz-radial-gradient(36px 25px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),
        -moz-radial-gradient(37px 25px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),      
        -moz-radial-gradient(38px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        -moz-radial-gradient(39px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),        
        -moz-radial-gradient(40px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        -moz-radial-gradient(41px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),      
        -moz-radial-gradient(42px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -moz-radial-gradient(43px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),      
        -moz-radial-gradient(44px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -moz-radial-gradient(45px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),      
        -moz-radial-gradient(46px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -moz-radial-gradient(47px 26px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -moz-radial-gradient(48px 27px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -moz-radial-gradient(48px 28px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -moz-radial-gradient(48px 29px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),              
        -moz-radial-gradient(48px 30px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -moz-radial-gradient(48px 31px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),      
        -moz-radial-gradient(48px 32px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -moz-radial-gradient(48px 33px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        -moz-radial-gradient(48px 34px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),              
        -moz-radial-gradient(48px 35px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),
        -moz-radial-gradient(48px 36px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),
        -moz-radial-gradient(48px 37px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),        
        -moz-radial-gradient(48px 38px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        -moz-radial-gradient(48px 39px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),        
        -moz-radial-gradient(48px 40px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        -moz-radial-gradient(48px 41px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        -moz-radial-gradient(48px 42px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),                
        -moz-radial-gradient(48px 43px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 1px),
        -moz-radial-gradient(48px 44px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 1px),
        -moz-radial-gradient(48px 45px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),              
        -moz-radial-gradient(48px 46px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -moz-radial-gradient(47px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -moz-radial-gradient(46px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -moz-radial-gradient(45px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),      
        -moz-radial-gradient(44px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -moz-radial-gradient(43px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        -moz-radial-gradient(42px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),        
        -moz-radial-gradient(41px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        -moz-radial-gradient(40px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),        
        -moz-radial-gradient(39px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        -moz-radial-gradient(38px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),        
        -moz-radial-gradient(37px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        -moz-radial-gradient(36px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),        
        -moz-radial-gradient(35px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        -moz-radial-gradient(34px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),        
        -moz-radial-gradient(33px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        -moz-radial-gradient(32px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        -moz-radial-gradient(31px 47px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),      
        -moz-radial-gradient(30px 47px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),
        -moz-radial-gradient(29px 47px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),
        -moz-radial-gradient(28px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),      
        -moz-radial-gradient(27px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -moz-radial-gradient(26px 46px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -moz-radial-gradient(26px 45px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),      
        -moz-radial-gradient(26px 44px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -moz-radial-gradient(26px 43px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),  
        -moz-radial-gradient(26px 42px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),          
        -moz-radial-gradient(26px 41px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        -moz-radial-gradient(26px 40px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        -moz-radial-gradient(26px 39px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),                
        -moz-radial-gradient(26px 38px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        -moz-radial-gradient(26px 37px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),
        -moz-radial-gradient(26px 36px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),              
        -moz-radial-gradient(26px 35px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),
        -moz-radial-gradient(26px 34px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),
        -moz-radial-gradient(26px 33px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),              
        -moz-radial-gradient(26px 32px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),
        -moz-radial-gradient(26px 31px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),
        -moz-radial-gradient(26px 30px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),                
        -moz-radial-gradient(26px 29px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        -moz-radial-gradient(26px 28px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%)             
        ;
    background-image:
        linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 52%, rgba(255,255,255,0.12) 52%, rgba(255,255,255,0.3) 100%),
        radial-gradient(26px 27px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        radial-gradient(27px 26px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),       
        radial-gradient(28px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        radial-gradient(29px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        radial-gradient(30px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),       
        radial-gradient(31px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        radial-gradient(32px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        radial-gradient(33px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),       
        radial-gradient(34px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        radial-gradient(35px 25px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),       
        radial-gradient(36px 25px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),
        radial-gradient(37px 25px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),       
        radial-gradient(38px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        radial-gradient(39px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),     
        radial-gradient(40px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        radial-gradient(41px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),       
        radial-gradient(42px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        radial-gradient(43px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),       
        radial-gradient(44px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        radial-gradient(45px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),       
        radial-gradient(46px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        radial-gradient(47px 26px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        radial-gradient(48px 27px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        radial-gradient(48px 28px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        radial-gradient(48px 29px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),               
        radial-gradient(48px 30px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        radial-gradient(48px 31px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),       
        radial-gradient(48px 32px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        radial-gradient(48px 33px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        radial-gradient(48px 34px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),               
        radial-gradient(48px 35px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),
        radial-gradient(48px 36px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),
        radial-gradient(48px 37px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),     
        radial-gradient(48px 38px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        radial-gradient(48px 39px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),     
        radial-gradient(48px 40px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        radial-gradient(48px 41px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        radial-gradient(48px 42px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),             
        radial-gradient(48px 43px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 1px),
        radial-gradient(48px 44px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 1px),
        radial-gradient(48px 45px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),               
        radial-gradient(48px 46px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        radial-gradient(47px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        radial-gradient(46px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        radial-gradient(45px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),       
        radial-gradient(44px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        radial-gradient(43px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        radial-gradient(42px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),     
        radial-gradient(41px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        radial-gradient(40px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),     
        radial-gradient(39px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        radial-gradient(38px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),     
        radial-gradient(37px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        radial-gradient(36px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),     
        radial-gradient(35px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        radial-gradient(34px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),     
        radial-gradient(33px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        radial-gradient(32px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        radial-gradient(31px 47px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),       
        radial-gradient(30px 47px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),
        radial-gradient(29px 47px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),
        radial-gradient(28px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),       
        radial-gradient(27px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        radial-gradient(26px 46px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        radial-gradient(26px 45px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),       
        radial-gradient(26px 44px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        radial-gradient(26px 43px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),   
        radial-gradient(26px 42px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),           
        radial-gradient(26px 41px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2%),
        radial-gradient(26px 40px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        radial-gradient(26px 39px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),             
        radial-gradient(26px 38px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        radial-gradient(26px 37px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),
        radial-gradient(26px 36px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),               
        radial-gradient(26px 35px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),
        radial-gradient(26px 34px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),
        radial-gradient(26px 33px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),               
        radial-gradient(26px 32px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),
        radial-gradient(26px 31px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0,0,0,0) 2.5%),
        radial-gradient(26px 30px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),             
        radial-gradient(26px 29px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%),
        radial-gradient(26px 28px, circle, #5b6064 0%, #5b6064 2%, rgba(0,0,0,0) 2.5%)              
        ;
    border:#202020 1px solid;
    box-shadow:#333 0px -620px 0px -34px,
    
    /* Lock button */
    #000 0px -620px 0px -31px,
    #000 55px -652px 0px -36px,
    #000 58px -652px 0px -36px,
    #000 60px -652px 0px -36px,
    #000 61px -652px 0px -36px,
    #000 64px -652px 0px -36px,
    #000 67px -652px 0px -36px,
    #000 70px -652px 0px -36px,
    #000 73px -652px 0px -36px,
    #000 76px -652px 0px -36px,
    #000 79px -652px 0px -36px,
    #000 82px -652px 0px -36px,
    #000 85px -652px 0px -36px,
    #000 88px -652px 0px -36px,
    #000 91px -652px 0px -36px,
    #000 94px -652px 0px -36px,
    #000 97px -652px 0px -36px,
    #000 100px -652px 0px -36px,
    #000 103px -652px 0px -36px,
    #000 105px -652px 0px -36px,
    #000 108px -652px 0px -36px,
    /* side dots */
    #000 -170px -580px 0px -36px,
    #000 -170px -25px 0px -36px,
    #333 169px -580px 0px -36px,
    #333 169px -25px 0px -36px,
    /* Side buttons */
    /* Top button */
    #333 -174px -550px 0px -36px,
    #333 -174px -548px 0px -36px,
    #333 -174px -545px 0px -36px,
    #333 -174px -542px 0px -36px,
    #333 -174px -539px 0px -36px,
    #333 -174px -536px 0px -36px,
    #333 -174px -534px 0px -36px,
    #333 -174px -531px 0px -36px,
    #333 -174px -528px 0px -36px,
    #333 -174px -526px 0px -36px,
    /* 2nd button */
    #333 -174px -470px 0px -36px,
    #333 -174px -468px 0px -36px,
    #333 -174px -465px 0px -36px,
    #333 -174px -462px 0px -36px,
    #333 -174px -459px 0px -36px,
    #333 -174px -456px 0px -36px,
    #333 -174px -454px 0px -36px,
    #333 -174px -451px 0px -36px,
    #333 -174px -458px 0px -36px,
    #333 -174px -456px 0px -36px,
    /* 3rd */
    #333 -174px -410px 0px -36px,
    #333 -174px -418px 0px -36px,
    #333 -174px -415px 0px -36px,
    #333 -174px -412px 0px -36px,
    #333 -174px -409px 0px -36px,
    #333 -174px -406px 0px -36px,
    #333 -174px -404px 0px -36px,
    #333 -174px -401px 0px -36px,
    #333 -174px -408px 0px -36px,
    #333 -174px -406px 0px -36px
    ;
}