/*@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);*/

@font-face{
	font-family:"FZLanTingHeiS-UL-GB";
	src: url("FZLanTingHeiS-UL-GB.ttf");
}

html,h1,h2,h3,h4,h5{
	font-family: "FZLanTingHeiS-UL-GB", sans-serif;
	font-weight: 100;
}

html {
	height: 100%;
	background-color: black;
}
body {

	margin: 0;
	padding: 0;
	display: block !important;
	height: 100%;
	
	overflow:hidden;
}

a{
	color:white;
}

#SlideInfo{
	background-color: black;
	position: fixed;
	bottom:0px;
	left:0px;
	right:0px;
	height: 60px;
	line-height: 60px;
	color:white;
	z-index: 100;
}

#SlideInfo #Title{
	font-size: 20px;
	margin: 0px;
	float: left;

	margin-left: 100px
}

#SlideInfo .aboutme{
	float:right;
	margin:0px;

	margin-right: 100px;
}
#SlideInfo .aboutme li{
	float:left;
	list-style: none;
	margin: 0px 10px;
}
#Articles{
	position: relative;
	height:100%;
}

#Articles article {
	
	background-color:#06b3db;
	padding:20px;
	position:absolute;
	font-size: 20px;
	background-repeat:no-repeat;
	-webkit-transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
	-moz-transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
	transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
	color: white;

	width:100%;
	height: 100%;
	box-sizing:border-box;
}

#Articles article.current{
	-webkit-transition-delay:0.4s;
	-moz-transition-delay:0.4s;
	transition-delay:0.4s;
}

#Articles article.next{
	-webkit-transform:translate(1300px, 0px);
	-moz-transform:translate(1300px, 0px);
	transform:translate(1300px, 0px);
	opacity: 0;
}

#Articles article.prev{
	-webkit-transform:scale(0.5);
	-moz-transform:scale(0.5);
	transform:scale(0.5);
	opacity: 0;
}


article h1{
	font-size: 50px;
	text-align: center;
}

article h1.title{
	font-size: 80px;
}

article h3{
	font-size: 30px;
}

article li,
article .item{
	-webkit-transition:all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0s;
	-moz-transition:all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0s;
	transition:all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}

article .show{
	opacity : 1;
}

article .hidden{
	opacity : 0;
	-webkit-transform:translate(30px, 0px);
	-moz-transform:translate(30px, 0px);
	transform:translate(30px, 0px);
}

article .column-2{
	-webkit-column-count:2;
	-moz-column-count:2;
	-o-column-count:2;
	column-count:2;
}

article .column-3{
	-webkit-column-count:3;
	-moz-column-count:3;
	-o-column-count:3;
	-column-count:3;
}

article .column-4{
	-webkit-column-count:4;
	-moz-column-count:4;
	-o-column-count:4;
	-column-count:4;
}

.github{
	width:50px;
	height:50px;
	background-image: url(../imgs/github.svg);
	background-size: 50px 50px;
	background-repeat: no-repeat;

	position: absolute;
	left:20px;
	top: 20px;

	display: block;
}

.screen-demo{
	position: absolute;
	left:0px;
	top:0px;
	width: 100%;
	height:100%;
	border:none;
}

iframe.screen-demo{
	z-index: 10;
}

article li{
	/*height: 40px;*/
	margin:20px 0px;
}

.qpf-ui-combobox li{
	margin:0px;
}

img{
	width: 700px;
}

pre{
	padding: 20px;
	border-radius: 5px;
	font-size: 14px;
	margin:50px;
}
