
@font-face {
    font-family: 'noto-thin';
    src: url("font/noto-thin.min.ttf");
}

html,h1,h2,h3,h4,h5{
    /*font-family: "Helvetica Neue";*/
    font-family: 'noto-thin';
    font-weight: 100;
}
