
@font-face {
    font-family: 'noto-thin';
    src: url("font/noto-thin.min.ttf");
}

html,h1,h2,h3,h4,h5{
    /*font-family: "Helvetica Neue";*/
    font-family: 'noto-thin';
    font-weight: 100;
}


article h2.subtitle {
    text-align: right;
    right: 300px;
}

.list {
    font-size: 22px;
}

.outfocus-fade {
    font-size: 26px;
}

.outfocus-fade.prev {
    opacity: 0.4;
    /*transform: scale(0.9);*/
    transform-origin: left;
}

#year-three article {
    background-color: rgb(33, 83, 132)
}

#year-three h1 {
    background: none;
    text-shadow:none;
    box-shadow: none;
}
#year-three h2 {
    text-shadow: none;
}
#layered-ecx {/*
    perspective: 500px;
    transform-style: preserve-3d;   */
}

#layered-ecx canvas {
    transition: transform 1s linear;
}
.ecx-layer-stack {
    border: 1px solid #FFF;
    background-color: rgba(255, 255, 255, 0.2);
}